{% set link="project" %}
{% extends "_base.html" %}
{% block body %}

<div class="container">
    
    <div class="page-header">
        <h1>About</h1>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <p>WebLab-Deusto is a multidisciplinary research team aiming to increase the experiential learning by the use and development of remote laboratories. To this end, <a href="labs.html">several laboratories</a> are offered for free through the Internet, the <a href="software.html">underlying software</a> is available under an Open Source license and <a href="equipment.html">equipment</a> can be duplicated.</p>
        </div>
        <div class="col-lg-6 text-center">
            <img width="80%" src="assets/img/logo.png"/>
        </div>

    </div>

    <div class="page-header">
        <h1>History</h1>
    </div>

    <div class="row">
        <div class="col-lg-8">

            <p>The WebLab-Deusto project started on early 2000s, by testing different settings of a CPLD through the Internet, with a set of exploratory ad hoc solutions. On October 2004, efforts to make it suitable for its use in class started and in February 2005, WebLab-Deusto 1.0 was used in class regularly for CPLDs. Later, in November 2005, WebLab-Deusto 2.0, which used AJAX, was used with CPLDs and FPGAs. It was soon used in more classes and even with mobile devices.</p>

            <p>However, every deployment consisted of a full copy of the same software, so all the administration was not centralized, and as the number of labs and students to maintain increased this became a major issue. For this reason, WebLab-Deusto 3 was a complete reimplementation of the software, focused on supporting multiple laboratories in a distributed network while keeping the administration centralized. It was first used with students in November 2007, and it was awarded both by the Spanish Chapter of the IEEE EdSoc and by the Faculty of Engineering of the University of Deusto as best ???? project.</p>

        </div>

        <div class="col-lg-4 text-center">
            <img width="80%" src="assets/img/weblab_firstyears.png" class="vmargin-20"/>
        </div>
    </div>

    <div class="row">

        <div class="col-lg-4">
            <img width="80%" src="assets/img/secondlab.png" class="vmargin-20"/>
        </div>

        <div class="col-lg-8">

            <p>In parallel, the VISIR project was adopted, acquiring a copy of its equipment and using it with students of the University of Deusto. Also, Ignacio Angulo led the low cost solutions for the development of remote labs were developed, where everything was deployed in a PIC microcontroller. Afterwards, the WebLab-Box was implemented and in 2009 it was awarded ???</p>

            <p>In the meanwhile, WebLab-Deusto supported more development platforms and in 2010, WebLab-Deusto was released as Open Source. WebLab-Deusto joined the Global Online Laboratory Consortium (GOLC), ??? Ilab was used ???? Jaime ??? supported SecondLife. This integration was also awarded by the ??? y ???</p>

            <p>In early 2011, the team itself was awarded with the ????. It also started being present in european projects such as epragmatic and later in OLAREX. With the usage of the system during several years, some work on its analysis was developed.</p>

        </div>
    </div>

    <div class="row">

        <div class="col-lg-8">

            <p>Additionally, a new version of the VISIR equipment was developed, based on LXI instead of PXI. This decreases the costs of the equipment and enhances the flexibility of the potential circuits. The author of this work, Unai Hernández, presented his PhD on this on May 2012.</p>

            <p>In late 2011 and early 2012, WebLab-Deusto supported sharing labs automatically in a scalable and transitive way. This makes it possible to scale up the number of concurrent users by distributing them among copies of the same lab in different universities. The team was invited to speak in the Singularity University in June 2012, in Silicon Valley, and the author of this work, Pablo Orduña, was later awarded by the MIT with the TR35 Spain award (top 10 innovators in Spain under 35) for it. He presented his PhD on May 2013.</p>

            <p>During this time, the number of laboratories was multiplied. Six copies of the WebLab-Box were built and are used regularly (one of them was transferred to the MIT as part of a NSF project). Additionally, in 2013 three ??? projects were presented: one by Luis Rodriguez-Gil on applying augmented reality in Weblab deusto, other by Iñigo Iturrate on a robotics laboratory deployed in a Bulgarian museum, and finally one by Gustavo Martin on the aquarium laboratory.</p>
        </div>

    </div>

    <div class="row">
        <div class="col-lg-12">
            <p>In the meanwhile, the University of Deusto hosted both the REV conference and the GOLC meeting on summer 2012, and it started being used in other universities and secondary schools (see olarex). Three visiting researchers participated in WebLab-Deusto: Fabricio Gazzola, coming from the ??? in Brazil (who worked in the integration of LabVIEW ???), Bruno Campos from the same university (who worked in low cost laboratories) and Martin Kaluz from STUBA in Slovakia (who worked on integrating their control laboratories).</p>

            <p>It was also used in new European projects (GoLab, ICo-op)...</p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-5 col-lg-push-2">
            <img width="80%" src="assets/img/rev2012.jpg" class="vmargin-20"/>
        </div>

        <div class="col-lg-5 col-lg-push-2">
            <img width="80%" src="assets/img/rev2012.jpg" class="vmargin-20"/>
        </div>
    </div>

    <div class="page-header">
        <h1>Deusto</h1>
    </div>

    <div class="row">
        <div class="col-lg-6 text-center">
            <img src="assets/img/logo_deusto.jpg" width="60%"/>

            <p>The <a href="http://www.deusto.es/">University of Deusto</a> is a private and fully recognized university with 997 members of staff and more than 12,000 students, established in 1886. Academic excellence of the University of Deusto is reflected in its commitment to innovative methods of learning, particularly in the new methodology of competence-based learning, own methodology of teaching, learning and assessment in a learner-based approach, and incorporation of new technologies as tools for quality education with an emphasis in meaningful learning and efficiency.</p>
            
            <img width="80%" src="assets/img/udeusto.jpg" class="vmargin-20"/>
        </div>

        <div class="col-lg-6 text-center">
            <img src="assets/img/logo_deustotech.jpg" width="80%"/>

<p><a href="http://www.deustotech.eu/">DeustoTech - Deusto Institute of Technology</a> is the R&amp;D organization within University of Deusto, <a href="http://www.ingenieria.deusto.es/">Faculty of Engineering</a>, mainly devoted to research, technology development and knowledge transference. There are currently about 160 people working in DeustoTech, including professors of the Faculty of Engineering, PhD students, post-doc researchers, senior researchers, and technicians.</p>

<p>Given the multidisciplinar nature of WebLab-Deusto, it involves people from different areas of DeustoTech, such as <a href="http://www.deustotech.deusto.es/servlet/Satellite/Page/1280393105821/_cast/%231284619588939%231280393105821/c0/UniversidadDeusto/Page/PaginaAsociacionDTTPL">DeustoTech Learning</a>, <a href="http://www.deustotech.deusto.es/servlet/Satellite/Page/1280393105780/_cast/%231284619588939%231280393105780/c0/UniversidadDeusto/Page/PaginaAsociacionDTTPL">Internet</a> and <a href="http://www.deustotech.deusto.es/servlet/Satellite/Page/1280393105812/_cast/%231284619588939%231280393105812/c0/UniversidadDeusto/Page/PaginaAsociacionDTTPL">Mobility</a>.</p>

            <img width="80%" src="assets/img/deustotech_office.jpg" class="vmargin-20"/>
        </div>

    </div>



</div>

{% endblock %}
