{% set link="project" %}
{% set title="Awards" %}
{% extends "_base.html" %}
{% block body %}

<div class="container">

    <div class="page-header">
        <h1>Awards</h1>
    </div>

    <div class="row">
        
        <div class="col-lg-4 text-center">
            <h2>MIT TR35 Spain</h2>
            <p>On October 2012, WebLab-Deusto member <a href="members.html">Pablo Ordu&ntilde;a</a> has been honored with the TR35 Spain award. The MIT Technology Review selects the top 10 young innovators in Spain through its spanish edition, seeking fascinating and inspiring works that may change the business and technology landscape in the near future. Pablo Ordu&ntilde;a was awarded for his contribution on scaling up the federation of remote laboratories through WebLab-Deusto and the impact this brings to STEM education (see full description in spanish or english). As part of the award, Pablo has participated in the MIT EmTech 2012 conference (EmTech 2012), where TR35 Spain awardees had common activities with global TR35 awardees.</p>

            <img src="assets/img/emtechspain2012_porduna.jpg" width="80%"/></br>
            <img src="assets/img/emtech2012_all.jpg" width="80%"/>

            <div class="text-right">
                <h4>Links</h4>
                <a href="http://www.technologyreview.es/tr35spain/profile.aspx?trid=1340">Pablo Ordu&ntilde;a's profile</a> (<a href="http://www.technologyreview.es/read_article.aspx?id=41760">English</a>)<br/>
                <a href="http://tecnologia.elpais.com/tecnologia/2012/11/12/actualidad/1352708056_113908.html">Press: El Pa&iacute;s</a> (<a href="https://www.ucm.es/info/ucmp/cont/descargas/prensa/prensa33438.pdf">printed</a>)<br/>
                <a href="http://www.diariosur.es/v/20121123/malaga/talento-exhibe-tres-minutos-20121123.html">Press: Diar&iacute;o Sur</a> (<a href="http://www.infouma.uma.es/joomla/index2.php?option=com_docman&task=doc_view&gid=4360&Itemid=43">printed</a>) <br/>
                <a href="http://noticias.universia.es/ciencia-nn-tt/noticia/2012/10/26/977146/pablo-orduna-10-jovenes-espanoles-mas-innovadores.html">Press: Universia</a><br/>
                <a href="http://www.expansion.com/agencia/efe/2012/11/21/17826706.html">Press: Expansi&oacute;n</a><br/>
                <a href="http://www.euskadinnova.net/es/innovacion-tecnologica/noticias/premia-joven-investigador-vasco/9537.aspx">Euskadinnova</a><br/>
                <a href="http://www.innobasque.com/home.aspx?tabid=20&idNoticia=847&mostrar=P">Innobasque</a><br/>
                <a href="https://www.centrodeinnovacionbbva.com/contents/11609-conoce-a-los-ganadores-del-tr35-espana">BBVA Innovation Center</a><br/>
                <a href="https://www.youtube.com/watch?v=ftZeMQQ4NGo#t=2m32s">Elevator pitch (in spanish)</a><br/>
            </div>
        </div>

        <div class="col-lg-4 text-center">
            <h2>UD-Grupo Santander</h2>

            <p>On January 2011, the WebLab-Deusto members <a href="members.html">Javier García-Zubia, Pablo Orduña, Ignacio Angulo, Diego López-de-Ipiña, Jaime Irurzun, Unai Hernández and Jonathan Ruiz de Garibay</a>, were awarded by the UD-Grupo Santander for the work "Arquitectura web 2.0 para laboratorios remotos, WebLab-Deusto 3.0". The project is focused on the development of an infrastructure that enables students to access through the Internet to hardware experiments located in the University, optimizing the cost of the experiments.</p>

            <img src="assets/img/premio_ud-santander_2010_big.jpg" width="80%">

            <div class="text-right">
                <h4>Links</h4>
                <a href="http://www.larazon.es/detalle_hemeroteca/noticias/LA_RAZON_355079/historico/7873-los-weblab-copan-los-premios-ud-banco-santander#.Ug15LBcUZ84">La Raz&oacute;n</a><br/>
                <a href="http://www.deia.com/2011/01/19/sociedad/euskadi/deusto-premia-un-laboratorio-que-permite-realizar-experimentos-desde-casa">Deia</a><br/>
            </div>
        </div>

        <div class="col-lg-4 text-center">
            <h2>Spanish Chapter of the IEEE Education Society</h2>

            <p>On April 2010, <a href="http://www.ieec.uned.es/webIEEE/Cap_esp/IEEE_Cap_esp.asp">Spanish Chapter of the IEEE Education Society (CESEI)</a> awarded <a href="projects_and_dissertation.html">"SecondLab: integration of a microbot in Second Life under a distributed remote lab architecture</a> as Best Degree Final Project 2008/09. The project was developed by WebLab-Deusto member <a href="members.html">Jaime Irurzun</a> and directed by <a href="members.html">Dr. Javier Garc&iacute;a-Zubia</a>. The award was given last April 13th by Martín Llamas, President of the Spanish Chapter of the IEEE EdSoc 2008-2010.</p>

            <img src="assets/img/cesei_award_jaime1.jpg" width="80%"/><br/>

            <p>The award comittee decided also to share the Best Degree Final Project award with Miguel Latorre, from the Spanish University for Distance Education (UNED), as well as to give the Best PhD 2008/09 award to David Díez-Cebolledo, from the Universidad Carlos III de Madrid. During the award-giving ceremony, the three projects where presented by their respective authors.</p>

            <img src="assets/img/cesei_award_jaime2.jpg" width="80%"/><br/>

            <div class="text-right">
                <h4>Links</h4>
                <a href="http://noticias.universia.es/vida-universitaria/noticia/2010/04/22/559896/ieee-premia-estudiante-deusto-proyecto-fin-carrera.html">Universia</a><br/>
                <a href="http://www.actualidaduniversitaria.com/2010/04/el-ieee-premia-a-un-estudiante-de-deusto-por-su-proyecto-fin-de-carrera/">Actualidad universitaria</a><br/>
            </div>

        </div>

    </div>

    <div class="row">
        
        <div class="col-lg-4 text-center">
            <h2>Faculty of Engineering </h2>

            <p>On March 2010, WebLab-Deusto member <a href="members.html">Jaime Irurzun</a> was awarded by the University of Deusto (Faculty of Engineering) for his <a href="projects_and_dissertations.html">Degree Final Project "SecondLab: integration of a microbot in Second Life under a distributed Remote Lab architecture"</a>.

            <p>The award was given last March 13th by Dr. Josuka Díaz-Labrador during the investiture ceremony of the new engineers graduated in the 2008/09 promotion.</p>
            <img src="assets/img/pfc_award_jaime.jpg" width="80%"/><br/>
        </div>

        <div class="col-lg-4 text-center">
            <h2>ICELIE 2009</h2>

            <p>On November 2009, the <a href="http://www.uninova.pt/icelie2009/">3rd IEEE Internacional Conference on e-Learning in Industrial Electronics (ICELIE 2009)</a> awarded the work "Innovative Autonomous Hardware for Remote Experimentation with Microcontrollers" (the <a href="equipment.html">WebLab-Box</a>) with the <a href="http://www.uninova.pt/icelie2009/diplomas.htm">Best Educational Tool Award</a>.</p>

            <img src="assets/img/weblab_box_2011.jpg" width="80%"/>
        </div>

        <div class="col-lg-4 text-center">
            <h2>Faculty of Engineering</h2>

            <p>On March 2007, the WebLab-Deusto 3 is the winner of the Best End-term Project Award in Computer Engineering by the <a href="http://www.ingenieria.deusto.es/">Faculty of Engineering of the University of Deusto</a>.</p>
            <p>The award was given today during the investiture of new engineers of ESIDE to its recipient, <a href="members.html">Pablo Ordu&ntilde;a</a>, <a href="projects_and_dissertations.html">who developed the project</a> under the direction of <a href="members.html">Javier García Zubia</a>.</p>

            <img src="assets/img/pablo-premio-pfc-ud.jpg" width="80%"/><br/>
        </div>

    </div>

    <div class="row">
        <div class="col-lg-4 text-center">
            <h2>Spanish Chapter of the IEEE Education Society</h2>

            <p>On December 2007, the <a href="http://www.ieec.uned.es/webIEEE/Cap_esp/IEEE_Cap_esp.asp">Spanish Chapter of the IEEE Education Society (CESEI)</a> awarded WebLab-Deusto 3 as Best End-term project in its <a href="http://remo.det.uvigo.es/cesei/premios/">2006-2007 edition</a>. The project was developed by <a href="members.html">Pablo Ordu&ntilde;a</a> and directed by <a href="members.html">Javier García Zubia</a>. The presentation given during the award giving event is available in the <a href="http://remo.det.uvigo.es/cesei/premios/index.php/convocatoria20062007/entregadepremios">award website</a>.</p>
            
            <img src="assets/img/pablo-premio-cesei-enero-2008.png" width="80%"/><br/>
            
            <p><i>Interview in the ETB2 basque TV channel</i></p>

            <img src="assets/img/pablo-premio-cesei-febrero-2008.jpg" width="80%"/><br/>

            <p><i>Interview in the basque TV channel</i></p>

            <div class="text-right">
                <h4>Links</h4>
                <a href="http://www.elcorreo.com/vizcaya/20080123/local/deusto-200801231226.html">El Correo</a>
            </div>

        </div>
    </div>

</div>

{% endblock %}
