{% set link="project" %}
{% extends "_base.html" %}
{% block body %}

<div class="container">

    <div class="page-header">
        <h1>Awards</h1>
    </div>

    (Copy paste de <a href="https://www.weblab.deusto.es/web/awards.html">aquí</a>)

    <div class="row">
        
        <div class="col-lg-4">
            <h2>MIT TR35 Spain</h2>
            <b>October 2012</b><br>
            <p>WebLab-Deusto member Pablo Orduña has been honored with the TR35 Spain award. The MIT Technology Review selects the top 10 young innovators in Spain through its spanish edition, seeking fascinating and inspiring works that may change the business and technology landscape in the near future. Pablo Orduña was awarded for his contribution on scaling up the federation of remote laboratories through WebLab-Deusto and the impact this brings to STEM education (see full description in spanish or english). As part of the award, Pablo has participated in the MIT EmTech 2012 conference (EmTech 2012), where TR35 Spain awardees had common activities with global TR35 awardees.</p>

            <a href="http://www.technologyreview.es/read_article.aspx?id=41760"></a>
        </div>

        <div class="col-lg-4">
            <h2>UD-Grupo Santander</h2>

        </div>

        <div class="col-lg-4">
            <h2>Spanish Chapter of the IEEE Education Society</h2>

        </div>

    </div>

    <div class="row">
        
        <div class="col-lg-4">
            <h2>Faculty of Engineering </h2>

        </div>

        <div class="col-lg-4">
            <h2>ICELIE 2009</h2>

        </div>

        <div class="col-lg-4">
            <h2>Faculty of Engineering</h2>


        </div>

    </div>

    <div class="row">
        <div class="col-lg-4">
            <h2>Spanish Chapter of the IEEE Education Society</h2>

        </div>
    </div>

</div>

{% endblock %}
