{% set link="project" %}
{% set title="Equipment" %}
{% extends "_base.html" %}
{% block body %}

<div class="container">

    <div class="page-header">
        <h1>Equipment</h1>
    </div>

    <div class="row">
        <div class="col-lg-12">

            <p>WebLab-Deusto team has also designed and developed custom equipments, including the WebLab-Box (an industrial box on which electronics laboratories can be easily developed) and an LXI version of the VISIR remote laboratory. For <a href="contact.html">futher information contact us</a>.</p>

        </div>
    </div>


    <div class="page-header">
        <h2>WebLab-Box</h2>
    </div>

    <div class="row">

        <div class="col-lg-8">

            <p>The main target of WebLab-Box is to facilitate the deployment of remote experiments, by providing all the required instruments (web camera, embedded computer, digital/analog signal provider, as well as the experiment itself) in a robust hardware structure that can easily be deployed in other institutions. Furthermore new institutions can easily adapt experiments used in hand-on-labs to WebLab-Box to publish them in the Internet.</p>

            <p>This black-box is used in some experiments of WebLab-Deusto to ensure the robustness of the experiments while in production. The box can be deployed autonomously or in a remote laboratory management system (such as WebLab-Deusto, MIT iLabs or others).</p>

            <p>Main features of WebLab-Box are the following:</p>
            <ul>
                <li>Professional equipment including all the necessary hardware.</li>
                <li>Plug&amp;play installation easy to deploy in new infrastructures.</li>
                <li>Adaptable to any experiments covering other areas of Embedded Systems.</li>
                <li>Integrable in main remote labs platforms.</li>
                <li>It chases to promote the employment of remote laboratories settling certain existent topics.</li>
                <li>Orientated to teachers and pupils proceeding from secondary schools.</li>
            </ul>

            <p>All the WebLab-Deusto PIC, FPGA and CPLD laboratories are deployed on the WebLab-Box. It <a href="awards.html">was awarded for the Best Educational Tool in the ICELIE 2009 conference</a>.</p>
        </div>

        <div class="col-lg-4 text-center">
            <img src="assets/img/weblab_box_2011.jpg" width="90%" />
        </div>
    </div>

    <div class="page-header">
        <h2>VISIR-LXI</h2>
    </div>

    <div class="row">
        <div class="col-lg-4">
            <img src="assets/img/visir_lxi.png" width="90%" />
        </div>
        
        <div class="col-lg-8">
            <p>The <a href="http://openlabs.bth.se/electronics/">OpenLabs VISIR project</a> is a remote electronics laboratory, developed in the <a href="http://www.bth.se/">BTH</a>. Through it, students can carry out electronics experiments no matter their location. Circuits are designed through a web interface, which simulates a traditional, hands-on laboratory. The experiment itself, however, is physically set up by the VISIR hardware, which relies on devices connected through <a href="http://en.wikipedia.org/wiki/PXI">PXI</a>. The measurements are physically taken and the circuit is physically built through a relay based system. Several institutions around the world have their own VISIR instances.</p>

            <p>The VISIR-LXI is a new version of the backend of this system, relying on <a href="http://en.wikipedia.org/wiki/LXI">LXI</a> devices instead of PXI devices. This novel approach decrases the costs of the overall equipment, and increases the possible connections among the equipment, at the cost of a slightly higher latency. The project is described in detail in <a href="projects_and_dissertations.html">Unai Hern&aacute;ndez's dissertation (spanish)</a> and <a href="http://scholar.google.com/scholar?hl=en&q=author%3Au-hernandez+lxi">related papers</a>. </p>
        </div>
    </div>

</div>

{% endblock %}
