{% set link="home" %}
{% extends "_base.html" %}
{% block body %}
<div class="container">

    <div class="jumbotron">
        <div class="text-center">
            <img src="assets/img/logo.png" width="50%">
        </div>
        <div class="text-center vmargin-20">
            <p>Your labs, on the Internet</p>
        </div>

        <div class="row vmargin-20">
            <div class="col-lg-1 col-lg-push-4">
                <a class="btn btn-primary" href="https://www.weblab.deusto.es/weblab/"><span class="glyphicon glyphicon-play"></span> Try it!</a>
            </div>

            <div class="col-lg-1 col-lg-push-6">
                <a class="btn btn-default" href="https://weblabdeusto.readthedocs.org/"><span class="glyphicon glyphicon-download"></span> Download</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8">
            <img src="assets/img/weblab_boxes.png" height="250px"/>
            <span class="spacer"></span>
            <img src="assets/img/weblab_web.png"   height="250px"/>
        </div>
        <div class="col-lg-4 text-center">
            <h2>What is a remote lab?</h2>
            <p>A remote laboratory is a <a href="software.html">software</a> and 
            <a href="equipment.html">hardware</a> tool that allows 
            students to remotely access real equipment located in the university. 
            Students use this equipment as if they were in a hands-on-lab session.
            </p>
            <div class="text-center" style="margin-top: 20px">
                <button class="btn btn-danger" onclick="loadVideo(this, 'http://www.youtube.com/embed/kDly3gMkzng', 1.8);"><span class="glyphicon glyphicon-facetime-video"></span> Watch video</button>
                <!-- TODO --><br>
                (the 1:20 first minutes is not about remote labs, but about the University of Deusto. Might not be good for here)
            </div>
        </div>
    </div>

    <div class="page-header">
        <h1>WebLab-Deusto</h1>
    </div>

    <div class="row">
        <div class="col-lg-4 text-center">
            <h2>What is it?</h2>

            <p>WebLab-Deusto is an initiative of the <a href="http://www.deusto.es/">University of Deusto</a> aiming to increase the experiential learning by the use and development of remote laboratories. To this end, <a href="labs.html">several laboratories</a> are offered for free through the Internet, the <a href="software.html">underlying software</a> is available under an Open Source license and <a href="equipment.html">equipment</a> can be duplicated.</p>
        </div>

        <div class="col-lg-4 text-center">
            <h2>Who uses it?</h2>

            <p>WebLab-Deusto is used by universities (faculties of engineering) and secondary schools from different countries worldwide (see <a href="http://www.weblab.deusto.es/olarex/">Olarex</a>), as well as in multiple <a href="projects.html">research projects</a>. The software system is available in over 10 languages.</p>
        </div>

        <div class="col-lg-4 text-center">
            <h2>News <img src="assets/img/feed_icon.png" width="30px" style="margin-bottom: 5px; margin-left: 15px"/></h2>

            <div id="news_contents" class="text-left">
                <div class='alert'>Loading...</div>
            </div>
        </div>
    </div>

    <div class="page-header">
        <h2>What is it for?</h2>
    </div>

    <div class="row">
        <div class="col-lg-4 text-center">
            <img src="assets/img/cloud_logo.png" width="30%"/>
            <h2>Access existing labs</h2>
            <p>
                The <a href="https://cloud.weblab.deusto.es/">wCloud system</a> aims
                to enable teachers to register their schools and use existing labs in class
                automatically. No software or hardware installation is required.
            </p>
            <p>
                The other approach is to download and install the software system to 
                keep the database local. See the 
                <a href="http://weblabdeusto.readthedocs.org/">instructions</a> for 
                further information.
            </p>
        </div>

        <div class="col-lg-4 text-center">
            <img src="assets/img/installer_logo.png" width="30%"/>

            <h2>Create your own labs</h2>
            <p>
                If you have certain equipment and you want to put it online, you can use WebLab-Deusto, 
                which is Open Source. It already provides authentication, authorization, scheduling mechanisms, administrative
                tools or integration in Learning Management Systems (such as Moodle). 
            </p>
            <p>
                See the <a href="software.html">feature summary</a> for more information or the 
                <a href="http://weblabdeusto.readthedocs.org/">documentation</a> to read how to do it.
            </p>
        </div>

        <div class="col-lg-4 text-center">
            <img src="assets/img/engine_logo.png" width="30%"/>

            <h2>Acquire laboratories</h2>
            <p>
                WebLab-Deusto team has also designed and developed custom equipments, including the WebLab-Box (an industrial box on which electronics laboratories can be easily developed) and an LXI version of the VISIR remote laboratory. Check the <a href="equipment.html">equipment section</a> for further information.
            </p>
        </div>
    </div>

    <div class="page-header">
    <h1>Sample labs</h1>
    <p><a href="">See full list <span class="glyphicon glyphicon-arrow-right"></span></a></p>
    </div>
    
    <div class="row">

        <div class="col-lg-6">
            <h2>Robot</h2>

            <p>The Robot lab lets you program the bot yourself, with any program you wish.</p>

            <p>The bot uses a PIC processor, so the program should be written using the PIC compiler. It is noteworthy that the bot has, among other things, infrared sensors, to which the developer has access.</p>

            <div class="text-center">
                <img src="assets/img/robot.jpg" width="50%"/>
            </div>

            <p><b>Target audience:</b> engineering students in general, certain secondary schools.</p>

            <a class="btn btn-primary" href="https://www.weblab.deusto.es/weblab/client/#page=experiment&exp.category=Robot%20experiments&exp.name=robot-movement"><span class="glyphicon glyphicon-play"></span> Try it!</a>
            <span class="spacer"></span>
            <a class="btn btn-success" href="http://weblabdeusto.readthedocs.org/en/latest/sample_labs.html#robot"><span class="glyphicon glyphicon-list-alt"></span> Read more</a>
            <span class="spacer"></span>
            <button class="btn btn-danger" onClick="loadVideo(this, 'http://www.youtube.com/embed/1WWAZVyuOBg', 1.4)"><span class="glyphicon glyphicon-facetime-video"></span> Watch video</a>
        </div>

        <div class="col-lg-6">
            <h2>VISIR</h2>

            <p><a href="http://openlabs.bth.se/electronics">BTH OpenLabs VISIR</a> (Virtual Instrument Systems In Reality) is a Remote Laboratory developed in the <a href="http://www.bth.se/">Blekinge Institute of Technology</a>, which supports remote experimentation with real electronic circuits.</p>

            <p>Students create circuits using the web interface, such as the following (where two resistors, of 10k and 1k are placed in serial and connected to the Digital MultiMeter):</p>

            <div class="text-center">
                <img src="assets/img/visir_circuit.png" width="60%"/>
            </div>

            <p>And as a result of this, the digital multimeter will show the sum of the two resistors:</p>

            <div class="text-center">
                <img src="assets/img/visir_result.png" width="60%"/>
            </div>


            <p><b>Target audience:</b> It depends on how many principles are taught. It has been used with secondary school students, as well as with electronics engineering courses.</p>


            <a class="btn btn-primary" href="https://www.weblab.deusto.es/weblab/client/#page=experiment&exp.category=Visir%20experiments&exp.name=visir"><span class="glyphicon glyphicon-play"></span> Try it!</a>
            <span class="spacer"></span>
            <a class="btn btn-success" href="http://weblabdeusto.readthedocs.org/en/latest/sample_labs.html#visir"><span class="glyphicon glyphicon-list-alt"></span> Read more</a>
            <span class="spacer"></span>
            <button class="btn btn-danger" onClick="loadVideo(this, 'http://www.youtube.com/embed/vI5aM6Yq3S4', 1.4)"><span class="glyphicon glyphicon-facetime-video"></span> Watch video</a>

        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript">
    $(function(){
        var jqxhr = $.get("https://www.weblab.deusto.es/webcam/rss/feed")
          .done(function(data) { 
            var xml = $.parseXML(data);
            var $xml = $( xml );
            var MAX_POSTS = 8;

            var texts = [];

            $xml.find("item").each(function (pos, data) {
                // Skip the first item
                if ( pos > 1 && pos < MAX_POSTS + 2 ) {
                    var $data   = $(data);
                    var title   = $data.find('title').text();
                    var link    = $data.find('link').text();
                    var pubDate = $data.find('pubDate').text();

                    var splittedPubDate = pubDate.split(" ");
                    var day = parseInt(splittedPubDate[1]);
                    var months = ["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"];
                    var month = months.indexOf(splittedPubDate[2]) + 1;
                    var year = parseInt(splittedPubDate[3]);

                    texts.push("<a href='" + link + "'>" + year + "/" + month + "/" + day + " - " + title + "</a>");
                }
            });
            
            $("#news_contents").html(texts.join("<br/>"));

          })
          .fail(function() { 
            $("#news_contents").html("<div class='alert alert-danger'><b>Oh no!</b> I couldn't load news at this moment. <br/> Try back later.</div>");
          });
    });
</script>
{% endblock %}
