{% set link="labs" %}
{% set title="Labs" %}
{% extends "_base.html" %}
{% block body %}

<div class="container">

    <div class="page-header">
        <h1>Labs at Deusto</h1>
        <p>This is a selection of the laboratories available in the <a href="http://www.deusto.es/" target="_blank">University of Deusto</a>.</p>
    </div>

    <div class="row vmargin-20">
        <div class="col-lg-6">
            <h2>Robot</h2>

            <p>The Robot lab lets you program the bot yourself, with any program you wish.</p>

            <p>The bot uses a PIC processor, so the program should be written using the PIC compiler. It is noteworthy that the bot has, among other things, infrared sensors, to which the developer has access.</p>

            <div class="text-center">
                <img src="assets/img/robot.jpg" width="50%"/>
            </div>

            <p><b>Target audience:</b> engineering students in general, certain secondary schools.</p>

            <div class="text-center">
                <a class="btn btn-primary" href="https://www.weblab.deusto.es/weblab/client/#page=experiment&exp.category=Robot%20experiments&exp.name=robot-movement"><span class="glyphicon glyphicon-play"></span> Try it!</a>
                <span class="spacer"></span>
                <a class="btn btn-success" href="http://weblabdeusto.readthedocs.org/en/latest/sample_labs.html#robot"><span class="glyphicon glyphicon-list-alt"></span> Read more</a>
                <span class="spacer"></span>
                <button class="btn btn-danger" onClick="loadVideo(this, 'http://www.youtube.com/embed/1WWAZVyuOBg', 1.4)"><span class="glyphicon glyphicon-facetime-video"></span> Watch video</a>
            </div>
        </div>

        <div class="col-lg-6">
            <h2>FPGA</h2>

            <p>The FPGA laboratory lets you remotely practise with a <a href="http://weblabdeusto.readthedocs.org/en/latest/en.wikipedia.org/wiki/FPGA">Field Programmable Gate Array (FPGA)</a>. Through the Xilinx software, you can write a FPGA program locally as you normally would. Once the program is compiled, and ready to be tested, you should simply upload the binary ”.bit” file through the experiment.</p>

            <p>ud-fpga will automatically program the FPGA board with the binary you provided, and start running it. To see the results, a Webcam is of course provided. You may also interact with the board remotely, by using the provided widgets. Though the widgets themselves might appear artificial, they will send a signal to the board just like their physical counterparts would.</p>

            <p>However, due to certain safety concerns, in the demo version you can't upload your own file for this demo. Instead, a specific demo program (which has already been uploaded) will be used. Everything else will work as in the standard FPGA experiment.</p>
            </p>

            <div class="text-center">
                <img src="assets/img/weblab_boxes.png" width="60%">
            </div>

            <p>The FPGA laboratory, as other WebLab-Deusto laboratories (PIC or CPLD), is developed within the WebLab-Box. On the WebLab-Box, the device, as well as a fit-pc, a PIC microcontroller, a camera, lighting system and networking materials is installed, so as to make it easier to create and deploy new laboratories.</p>


            <p><b>Target audience:</b> Electronics Engineering students.</p>

            <div class="text-center">
                <a class="btn btn-primary" href="https://www.weblab.deusto.es/weblab/client/#page=experiment&exp.category=FPGA%20experiments&exp.name=ud-demo-fpga"><span class="glyphicon glyphicon-play"></span> Try it!</a>
                <span class="spacer"></span>
                <a class="btn btn-success" href="http://weblabdeusto.readthedocs.org/en/latest/sample_labs.html#fpga"><span class="glyphicon glyphicon-list-alt"></span> Read more</a>
            </div>

        </div>

    </div>

    <div class="row vmargin-20">
        <div class="col-lg-6">
            <h2>Aquarium</h2>

            <p>The aquarium laboratory creates an access to a real aquarium located in the University of Deusto. On it, it is possible to feed the fish, turn on and off the lights, and, if the submarine is in the water and it is charged, control the submarine. The problem is that most of the time, the submarine is out of battery so we only put it in the fishtank certain days.</p>
            
            <p>Regarding feeding the fish, it may seem dangerous, but it is not. The system feeds them automatically three times a day, every 8 hour. If a user feeds them, then it does not let any other user to feed them before the next shift, guaranteeing that they are only fed three times. So go ahead and try it!</p>
            
            <p>The initial rationale behind this laboratory is that groups of primary school students are responsible of the life of these fish (even if they are not under a real danger). Teachers may know which groups of students have feed them correctly, which students didn’t forget and which students coordinated correctly so no one overfed the fish.</p>
            
            <p>However, at the time of this writing ongoing work is being done for adding more sensors to this laboratory, so stay tuned ;-)</p>
            
            <div class="text-center">
                <img src="assets/img/submarine.jpg" width="60%">
            </div>

            <p><b>Target audience:</b> initially, primary school students. Right now the focus is changing to take into account physics principles with sensors.</p>

            <div class="text-center">
                <a class="btn btn-primary" href="https://www.weblab.deusto.es/weblab/client/#page=experiment&exp.category=Aquatic%20experiments&exp.name=submarine"><span class="glyphicon glyphicon-play"></span> Try it!</a>
                <span class="spacer"></span>
                <a class="btn btn-success" href="http://weblabdeusto.readthedocs.org/en/latest/sample_labs.html#aquarium"><span class="glyphicon glyphicon-list-alt"></span> Read more</a>
            </div>

        </div>

        <div class="col-lg-6">
            <h2>VISIR</h2>

            <p><a href="http://openlabs.bth.se/electronics">BTH OpenLabs VISIR</a> (Virtual Instrument Systems In Reality) is a Remote Laboratory developed in the <a href="http://www.bth.se/">Blekinge Institute of Technology</a>, which supports remote experimentation with real electronic circuits.</p>

            <p>Students create circuits using the web interface, such as the following (where two resistors, of 10k and 1k are placed in serial and connected to the Digital MultiMeter):</p>

            <div class="text-center">
                <img src="assets/img/visir_circuit.png" width="60%"/>
            </div>

            <p>And as a result of this, the digital multimeter will show the sum of the two resistors:</p>

            <div class="text-center">
                <img src="assets/img/visir_result.png" width="60%"/>
            </div>


            <p><b>Target audience:</b> It depends on how many principles are taught. It has been used with secondary school students, as well as with electronics engineering courses.</p>


            <div class="text-center">
                <a class="btn btn-primary" href="https://www.weblab.deusto.es/weblab/client/#page=experiment&exp.category=Visir%20experiments&exp.name=visir"><span class="glyphicon glyphicon-play"></span> Try it!</a>
                <span class="spacer"></span>
                <a class="btn btn-success" href="http://weblabdeusto.readthedocs.org/en/latest/sample_labs.html#visir"><span class="glyphicon glyphicon-list-alt"></span> Read more</a>
                <span class="spacer"></span>
                <button class="btn btn-danger" onClick="loadVideo(this, 'http://www.youtube.com/embed/vI5aM6Yq3S4', 1.4)"><span class="glyphicon glyphicon-facetime-video"></span> Watch video</a>
            </div>

        </div>

    </div>

    <div class="row vmargin-20">
        <div class="col-lg-6">
            <h2>CPLD</h2>

            <p>ud-demo-pld lets you remotely practise with a <a href="http://en.wikipedia.org/wiki/CPLD">Programmable Logic Device</a>.</p>
            
            <p>With the standard PLD experiment, through the Xilinx software you can write a PLD program locally as you normally would. Once the program is compiled, and ready to be tested, you can simply upload the binary ”.jed” file, and it will be programmed on the physical board and run.</p>
            
            <p>However, due to certain safety concerns, you can’t upload your own file for this demo. Instead, a specific demo program (which has already been uploaded) will be used. Everything else will work as in the standard FPGA experiment.</p>
            
            <p>That binary file will be automatically programmed into the board, and it will start running. To see the results, a Webcam is provided. You may also interact with the board remotely, by using the provided widgets. Though the widgets themselves might appear artificial, they will send a signal to the board just like their physical counterparts would.</p>

            <div class="text-center">
                <img src="assets/img/demo-pld.jpg" width="60%"/>
            </diV>
            
            <p>As the FPGA, the CPLD laboratory is running in the WebLab-Box. However, two different laboratories are available. The queue of students is balanced between both copies, so it goes twice faster.</p>

            <div class="text-center">
                <a class="btn btn-primary" href="https://www.weblab.deusto.es/weblab/client/#page=experiment&exp.category=PLD%20experiments&exp.name=ud-demo-pld"><span class="glyphicon glyphicon-play"></span> Try it!</a>
                <span class="spacer"></span>
                <a class="btn btn-success" href="http://weblabdeusto.readthedocs.org/en/latest/sample_labs.html#cpld"><span class="glyphicon glyphicon-list-alt"></span> Read more</a>
                <span class="spacer"></span>
                <button class="btn btn-danger" onClick="loadVideo(this, 'http://www.youtube.com/embed/zON7oYtssrw', 1.4)"><span class="glyphicon glyphicon-facetime-video"></span> Watch video</a>
            </div>

        </div>

        <div class="col-lg-6">
            <h2>Logic gates</h2>
            <p>ud-logic is a simple game implemented as an experiment. Players are presented with a circuit diagram made up of 6 connected logic gates. Five of these gates show the type of gate: AND, NAND, OR, NOR or XOR. These symbols are described in the wikipedia.</p>

            <p>Players must choose the type of the sixth gate so the result of the circuit is 1. Sometimes, several types might yield the desired result, and they will all be considered correct.</p>

            <p>When the players succeed, they are awarded one point and a new diagram is generated and they may choose a gate again. The process continues until the time expires or a wrong gate is chosen. When the process finishes, players can see their position in the ranking linked. The more points they get in the provided time, the higher they rank.</p>

            <div class="text-center">
                <img src="assets/img/example_logic.png" width="60%"/>
            </div>

            <p><b>Target audience:</b> secondary school students, as well as first course of certain engineerings.</p>

            <div class="text-center">
                <a class="btn btn-primary" href="https://www.weblab.deusto.es/weblab/client/#page=experiment&exp.category=PIC%20experiments&exp.name=ud-logic"><span class="glyphicon glyphicon-play"></span> Try it!</a>
                <span class="spacer"></span>
                <a class="btn btn-success" href="http://weblabdeusto.readthedocs.org/en/latest/sample_labs.html#ud-logic"><span class="glyphicon glyphicon-list-alt"></span> Read more</a>
            </div>
        </div>

    </div>

    <div class="row vmargin-20">
        <div class="col-lg-6">
            <h2>Virtual Machines</h2>

            <p>The linux-vm experiment gives you full access to a virtual machine running the Ubuntu Linux distribution.</p>
            
            <p>The user is presented with a few demo programs, among which is a sample Labview application. The user is free to do whatever he wishes on the machine for the assigned time, and the virtual machine will be reset by Weblab to its original state once the session ends. For instance, you can test that the sudoku game running in the virtual machine is always the same, since the state is always restored.</p>
            
            <p>The purpose of this experiment is mainly to showcase WebLab’s ability to host easy-to-develop unmanaged experiments.</p>

            <div class="text-center">
                <img src="assets/img/weblab_vm1.png" width="60%"/>
            </div>

            <p><b>Target audience:</b> It depends on what equipment is used internally. The one running in the demo is only for demonstration purposes.</p>

            <div class="text-center">
                <a class="btn btn-primary" href="https://www.weblab.deusto.es/weblab/client/#page=experiment&exp.category=VM%20experiments&exp.name=ud-linux-vm"><span class="glyphicon glyphicon-play"></span> Try it!</a>
                <span class="spacer"></span>
                <a class="btn btn-success" href="http://weblabdeusto.readthedocs.org/en/latest/sample_labs.html#virtual-machine-lab"><span class="glyphicon glyphicon-list-alt"></span> Read more</a>
                <span class="spacer"></span>
                <button class="btn btn-danger" onClick="loadVideo(this, 'http://www.youtube.com/embed/b-L2LXRr23A', 1.4)"><span class="glyphicon glyphicon-facetime-video"></span> Watch video</a>
            </div>
        </div>
    </div>


    <div class="page-header">
        <h1>Labs at STU <a href="http://kirp50.chtf.stuba.sk/" target="_blank"><span class="glyphicon glyphicon-link"></span></a></h1>
        <p>These laboratories are not developed in the University of Deusto. For further information, you should contact Martin Kalúz ( <span class="stubamail">martin.kaluz</span> <span class="mydomain">[at] stuba.sk</span>).
    </div>

    <div class="row vmargin-20">
        <div class="col-lg-6">
            <h2>Thermal plant</h2>

            <p>Provided remote labs are based on unified hardware architecture of industrial aimed devices including programmable logic controllers (PLC) and industrial network routers (INR) eWON4005cd. This multipurpose hardware architecture (MHA) is designed for controlling remote equipment in term of signal control, therefore the overall physical setup allows developers to include any experimental device that can be physically connected to PLC. While PLCs are used as base control unit, INR provides the supervision layer for single or several experimental nodes (PLC + experimental device) over local area network within physical laboratories of institute.</p>

            <div class="text-center">
                <img src="assets/img/stuba_lab.png" width="70%"/>
            </div>

            <div class="text-center">
                <a class="btn btn-primary" href="http://kirp50.chtf.stuba.sk/weblab/client/index.html?locale=es#page=experiment&exp.category=Control%20labs&exp.name=thermal-plant-udaq28lt"><span class="glyphicon glyphicon-play"></span> Try it!</a>
                <span class="spacer"></span>
                <a class="btn btn-success" href="http://dx.doi.org/10.3182/20130828-3-UK-2039.00048"><span class="glyphicon glyphicon-list-alt"></span> Read more</a>
            </div>
        </div>

<!--        <div class="col-lg-6">
            <h2>Bulb</h2>

            <p>Blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah</p>
        </div>
-->
    </div>


<!--
    <div class="page-header">
        <h1>Near future</h1>
    </div>

    <div class="row vmargin-20">
        <div class="col-lg-6">
            <h2>Incubator</h2>

            <p>Blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah</p>
        </div>

        <div class="col-lg-6">
            <h2>Robot maze</h2>


            <p>Blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah</p>
        </div>

    </div>


    <div class="row vmargin-20">
        <div class="col-lg-6">
            <h2>Elevator</h2>

            <p>Blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah</p>
        </div>

        <div class="col-lg-6">
            <h2>Robotic arm</h2>

            <p>Blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah</p>
        </div>
    </div>
-->

</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript">
    $(function(){
        $(".stubamail").each(function(index) {
            var addr = $(this).text().replace(/\n/g,"").replace(/ /g,"");
            $(this).html('<a href="mailto:'+addr+'@stuba.sk" >'+ addr +'@stuba.sk</a>');
        });
        $(".mydomain").each(function(index) {
            $(this).hide();
        });
    });
</script>
{% endblock %}
