{% set link="team" %}
{% set title="Team" %}
{% extends "_base.html" %}
{% block body %}

<div class="container">

    <div class="page-header">
        <h1>Current team</h1>
    </div>

    <div class="row text-center">
        <div class="col-lg-3">
            <h3>Javier García-Zubia</h3>
            <img height="200px" src="assets/img/members/zubia.jpg"/>
            <br/><br/>
            <img height="20px" src="assets/img/mail-icon.png"> <span class="deustomail">zubia</span> <span class="mydomain">[at] deusto.es</span><br/>
        </div>
        <div class="col-lg-3">
            <h3>Pablo Orduña</h3>
            <img height="200px" src="assets/img/members/porduna.jpg"/>
            <br/><br/>
            <img height="20px" src="assets/img/mail-icon.png"> <span class="deustomail">pablo.orduna</span> <span class="mydomain">[at] deusto.es</span><br/>
            <img height="20px" src="assets/img/web-icon.png"> <a href="http://pablo.ordunya.com/">Personal website</a><br/>
            <img height="20px" src="assets/img/linkedin-icon.png"> <a href="http://linkedin.com/in/porduna/">LinkedIn profile</a><br/>
            <img height="20px" src="assets/img/github-icon.png"> <a href="http://github.com/porduna/">GitHub profile</a><br/>
        </div>
        <div class="col-lg-3">
            <h3>Ignacio Angulo</h3>
            <img height="200px" src="assets/img/members/iangulo.jpg"/>
            <br/><br/>
            <img height="20px" src="assets/img/mail-icon.png"> <span class="deustomail">ignacio.angulo</span> <span class="mydomain">[at] deusto.es</span><br/>
            <img height="20px" src="assets/img/linkedin-icon.png"> <a href="http://es.linkedin.com/pub/ignacio-angulo-martinez/2a/a6/68">LinkedIn profile</a><br/>
        </div>
        <div class="col-lg-3">
            <h3>Olga Dziabenko</h3>
            <img height="200px" src="assets/img/members/olga.dziabenko.jpg"/>
            <br/><br/>
            <img height="20px" src="assets/img/mail-icon.png"> <span class="deustomail">olga.dziabenko</span> <span class="mydomain">[at] deusto.es</span><br/>
            <img height="20px" src="assets/img/linkedin-icon.png"> <a href="http://es.linkedin.com/pub/olga-dziabenko/53/326/a3a">LinkedIn profile</a><br/>
        </div>
    </div>

    <div class="row text-center">
        <div class="col-lg-3">
            <h3>Unai Hernández</h3>
            <img height="200px" src="assets/img/members/unai_hernandez.jpg"/>
            <br/><br/>
            <img height="20px" src="assets/img/mail-icon.png"> <span class="deustomail">unai.hernandez</span> <span class="mydomain">[at] deusto.es</span><br/>
            <img height="20px" src="assets/img/linkedin-icon.png"> <a href="http://es.linkedin.com/pub/unai-hernandez/18/a85/306">LinkedIn profile</a><br/>
        </div>
        <div class="col-lg-3">
            <h3>Luis Rodriguez-Gil</h3>
            <img height="200px" src="assets/img/members/lrodriguez.jpg"/>
            <br/><br/>
            <img height="20px" src="assets/img/mail-icon.png"> <span class="deustomail">luis.rodriguezgil</span> <span class="mydomain">[at] deusto.es</span><br/>
            <img height="20px" src="assets/img/github-icon.png"> <a href="http://github.com/zstars/">GitHub profile</a><br/>
        </div>
        <div class="col-lg-3">
            <h3>Gustavo Martín Vela</h3>
            <img height="200px" src="assets/img/members/gmartinvela.jpg"/>
            <br/><br/>
            <img height="20px" src="assets/img/mail-icon.png"> <span class="opendeustomail">gustavo.martin</span> <span class="mydomain">[at] opendeusto.es</span><br/>
            <img height="20px" src="assets/img/linkedin-icon.png"> <a href="http://linkedin.com/in/gustavomartinvela">LinkedIn profile</a><br/>
            <img height="20px" src="assets/img/github-icon.png"> <a href="http://github.com/gmartinvela/">GitHub profile</a><br/>
        </div>
        <div class="col-lg-3">
            <h3>Iban Eguía</h3>
            <img height="200px" src="assets/img/members/ieguia.jpg"/>
            <br/><br/>
            <img height="20px" src="assets/img/mail-icon.png"> <span class="opendeustomail">iban.eguia</span> <span class="mydomain">[at] opendeusto.es</span><br/>
            <img height="20px" src="assets/img/web-icon.png"> <a href="http://www.razican.com/">Personal website</a><br/>
            <img height="20px" src="assets/img/linkedin-icon.png"> <a href="http://linkedin.com/in/razican">LinkedIn profile</a><br/>
            <img height="20px" src="assets/img/github-icon.png"> <a href="http://github.com/Razican/">GitHub profile</a><br/>
        </div>
    </div>

    <div class="page-header">
        <h1>Former members</h1>
    </div>

    <div class="row text-center">
        <div class="col-lg-3">
            <h3>Jaime Irurzun</h3>
            <img height="200px" src="assets/img/members/jirurzun.jpg"/>
            <br/><br/>
            <img height="20px" src="assets/img/web-icon.png"> <a href="http://jaimeirurzun.com/">Personal website</a><br/>
            <img height="20px" src="assets/img/linkedin-icon.png"> <a href="http://linkedin.com/in/jaimeirurzun">LinkedIn profile</a><br/>
            <img height="20px" src="assets/img/github-icon.png"> <a href="http://github.com/jaimeirurzun/">GitHub profile</a><br/>
        </div>
        <div class="col-lg-3">
            <h3>Iñigo Iturrate</h3>
            <img height="200px" src="assets/img/members/iiturrate.jpg"/>
            <br/><br/>
            <img height="20px" src="assets/img/linkedin-icon.png"> <a href="http://linkedin.com/in/inigoiturrate">LinkedIn profile</a><br/>
        </div>
        <div class="col-lg-3">
            <h3>Martin Kaluz</h3>
            <img height="200px" src="assets/img/members/martin.jpg"/>
        </div>
        <div class="col-lg-3">
            <h3>Bruno Campos</h3>
            <img height="200px" src="assets/img/members/bruno.jpg"/>
        </div>
    </div>

    <div class="row text-center">
        <div class="col-lg-3">
            <h3>Fabricio Gazzola</h3>
            <img height="200px" src="assets/img/members/fgazzola.jpg"/>
        </div>
        <div class="col-lg-3">
            <h3>Txema González</h3>
            <img height="200px" src="assets/img/members/txema.jpg"/>
            <br/><br/>
            <img height="20px" src="assets/img/linkedin-icon.png"> <a href="http://es.linkedin.com/pub/jose-mª-gonzález-gamito/31/635/9b3/en">LinkedIn profile</a><br/>
        </div>
        <div class="col-lg-3">
            <h3>Arkaitz Gil Martínez-Musitu</h3>
            <img height="200px" src="assets/img/members/unknown-male.jpg"/>
        </div>
        <div class="col-lg-3">
            <h3>Rafael Luquin</h3>
            <img height="200px" src="assets/img/members/unknown-male.jpg"/>
            <br/><br/>
            <img height="20px" src="assets/img/linkedin-icon.png"> <a href="http://es.linkedin.com/pub/rafael-luquin/28/327/31b">LinkedIn profile</a><br/>
        </div>
    </div>

</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript">
    $(function(){
        $(".deustomail").each(function(index) {
            var addr = $(this).text().replace(/\n/g,"").replace(/ /g,"");
            $(this).html('<a href="mailto:'+addr+'@deusto.es" >'+ addr +'@deusto.es</a>');
        });
        $(".opendeustomail").each(function(index) {
            var addr = $(this).text().replace(/\n/g,"").replace(/ /g,"");
            $(this).html('<a href="mailto:'+addr+'@opendeusto.es" >'+ addr +'@opendeusto.es</a>');
        });
        $(".mydomain").each(function(index) {
            $(this).hide();
        });
    });
</script>
{% endblock %}
