{% set link="team" %}
{% set title="Papers" %}
{% extends "_base.html" %}
{% block body %}

<div class="container">

    <div id="papers">
    </div>

</div>

{% endblock %}

{% block scripts %}

<script type="text/javascript">
    var TAXONOMY = {
        "Usage Analysis" : {
            "Learning Analytics" : {}
        },
        "Mobile development" : {
            "Android" : {}
        },
        "Immersive technologies" : {
            "Virtual Worlds" : {},
            "Augmented Reality" : {}
        },
        "Remote laboratories" : {
            "Equipment" : {
                "Xilinx devices" : {
                    "CPLD" : {},
                    "FPGA" : {}
                },
                "VISIR" : {},
                "Robot" : {},
                "Low cost" : {}
            },
            "WebLab-Deusto architecture" : {
                "Federation": { 
                    "Interoperability" : {}
                },
                "LMS" : {},
                "CMS" : {}
            }
        }
    };

    var TAXONOMY_INVERSE = {};
    function buildTaxonomyIndex(current_dict, previous) {
        for (var key in current_dict ) {
            TAXONOMY_INVERSE[key] = previous.slice(0);
            var new_previous = previous.slice(0); // Clone
            new_previous.push(key);
            buildTaxonomyIndex(current_dict[key], new_previous);
        };
    }
    buildTaxonomyIndex(TAXONOMY, []);

    var CONFERENCE = 'conference';
    var JOURNAL    = 'journal';
    var CORE_A = 'core A';
    var CORE_B = 'core B';
    var CORE_C = 'core C';

    var METADATA = [ CONFERENCE, JOURNAL, CORE_A, CORE_B, CORE_C ];

    var AUTHORS = {
        "porduna" : "Pablo Orduña",
        "zubia"   : "Javier García-Zubia",
        "iangulo" : "Ignacio Angulo"
        // ...
    };

    var PAPERS = [
        {
           'type'     : CONFERENCE,
           'tags'     : [ CORE_A, 'Federation' ],
           'location' : 'Bilbao',
           'authors'  : [ 'porduna', 'zubia', 'iangulo' ],
           'month'    : 'October, 2005',
           'title'    : 'My first paper'
        }, 
        {
           'type'     : CONFERENCE,
           'tags'     : [ CORE_A, 'LMS' ],
           'location' : 'Bilbao',
           'authors'  : [ 'zubia', 'iangulo', 'porduna' ],
           'month'    : 'October, 2007',
           'title'    : 'My second paper'
        }
    ];

    function wrapWord(word) {
        return word.toLowerCase().split(" ").join("_");
    }

    function Paper(data) {
        var self = this;

        self.id = 'paper_title_' + wrapWord(data['title']);
        self.visible = true;
        self.tags = data['tags'];

        // Expand tags
        $(this.tags).each(function (pos, tag) {
            if ( tag in TAXONOMY_INVERSE) {
                $(TAXONOMY_INVERSE[tag]).each( function(pos, inferred_tag) {
                    if ($(self.tags).index(inferred_tag) < 0) {
                        self.tags.push(inferred_tag);
                    }
                });
            } else if ( $(METADATA).index(tag) >= 0) {
                // Do nothing
            } else {
                console.log("Invalid tag, ignoring " + tag);
            }
        });

        this.html = function() {
            return "<p id='" + self.id + "'>Paper..." + data['title'] + " " + data['location'] + "</p>";
        }

        this.hide = function() {
            self.visible = false;
            $( "#" + self.id ).animate({
                opacity: 0.25,
                height: "toggle"
            }, 500, function() {});
        }

        this.show = function() {
            self.visible = true;

            $( "#" + self.id ).animate({
                opacity: 1.0,
                height: "toggle"
            }, 500, function() {});
        }

        this.toggleVisibility = function() {
            if (self.visible) {
                self.hide();
                return false; 
            } else {
                self.show();
                return true;
            }
        }
    }

    function PaperSet(papers) {
        var self = this;
        this.papers = papers;
        this.per_tag = {};

        $(this.papers).each( function (pos, paper) {
            $(paper.tags).each( function (pos, tag) {
                if ( tag in self.per_tag) {
                    self.per_tag[tag].push(paper);
                } else {
                    self.per_tag[tag] = [paper];
                }
            });
        });

        // Errors: right now it is very wrong (if Paper A shares tags  C and D, when clicking on C it will be hidden and then when clicking on D it will be shown).

        this.html = function(where) {

            var $where = $(where);

            function generate_click(tag, $button) { 
                return function () {
                    console.log(tag);
                    var papers = self.per_tag[tag];
                    var visible = true;
                    $(papers).each(function (pos, paper) {
                        visible = paper.toggleVisibility();
                    });
                    if (visible)
                        $button.addClass('btn-success');
                    else
                        $button.removeClass('btn-success');
                }
            }

            for(var tag in self.per_tag) {
                console.log(tag);
                var tag_id = 'paper_tag_' + wrapWord(tag);
    
                var $button = $('<button/>', {
                    'text'  : tag,
                    'class' : 'btn btn-success',
                    'type'  : 'button',
                    'id'    : tag_id
                });
                $button.click(generate_click(tag, $button));
                $where.append($button);
            };

            $(self.papers).each(function (pos, paper) {
                $where.append($(paper.html()));
            });
        }
    }

    $(function(){
        var papers = [];

        $(PAPERS).each(function (pos, data) {
            var paper = new Paper(data);
            papers.push(paper);
        });

        var paper_set = new PaperSet(papers);
        paper_set.html('#papers');

        console.log(paper_set.per_tag);
    });
</script>


{% endblock %}
