{% set link="team" %}
{% set title="Academic projects and dissertations" %}
{% extends "_base.html" %}
{% block body %}

<div class="container">

    <div class="page-header">
        <h1>Related academic projects and dissertations</h1>
    </div>

    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>Student</th>
                <th>Dissertation type</th>
                <th>Title (click to download)</th>
                <th>Language</th>
                <th>Date</th>
                <th>Directed by</th>
                <th>More</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="awards.html">Gustavo Mart&iacute;n</a></td>
                <td>Telecommunications Grade <b>*</b></td>
                <td><a href="http://www.weblab.deusto.es/pub/pfg_gustavo/pfg_gustavo.pdf">APRiL: Dise&ntilde;o e Implementaci&oacute;n de un Laboratorio Remoto para la Experimentaci&oacute;n con el principio de Arqu&iacute;medes mediante Arquitectura As&iacute;ncrona Distribuida</a></td>
                <td>Spanish</td>
                <td>July 9th, 2013</td>
                <td><a href="awards.html">Ignacio Angulo</a></td>
                <td><a href="http://www.weblab.deusto.es/pub/pfg_gustavo/slides/template.html">slides</a></td>
            </tr>
            <tr>
                <td width="12%"><a href="awards.html">Luis Rodriguez-Gil</a></td>
                <td>Computer Engineering and Engineering in Industrial Organization <b>**</b></td>
                <td width="30%"><a href="http://www.weblab.deusto.es/pub/pfc_luis.pdf"><i>Dise&ntilde;o e implementaci&oacute;n de la plataforma Boole-WebLab-Deusto para el prototipado r&aacute;pido de sistemas digitales mediante el uso de laboratorios remotos y realidad aumentada</i></a></td>
                <td>Spanish</td>
                <td>June 18th, 2013</td>
                <td><a href="awards.html">Javier Garc&iacute;a Zubia</a></td>
                <td>N/A</td>
            </tr>
            <tr>
                <td><a href="awards.html">I&ntilde;igo Iturrate</a></td>
                <td>Industrial Electronics Grade <b>*</b></td>
                <td><a href="http://www.weblab.deusto.es/pub/pfg_iturrate/pfg_iturrate.pdf"><i>Design and Implementation of an Educational Mobile Robot Platform Integrated within the WebLab-Deusto Framework</i></a></td>
                <td>English</td>
                <td>June 13th, 2013</td>
                <td><a href="awards.html">Ignacio Angulo</a></td>
                <td><a href="http://www.weblab.deusto.es/pub/pfg_iturrate/pfg_iturrate_slides.pdf">slides</a><br/><a href="http://www.weblab.deusto.es/pub/pfg_iturrate/blockly.ogv">demo1</a><br/><a href="http://www.weblab.deusto.es/pub/pfg_iturrate/index.ogv">demo2</a></td>
            </tr>
            <tr>
                <td><a href="awards.html">Pablo Ordu&ntilde;a</a></td>
                <td>PhD dissertation</td>
                <td width="30%"><a href="http://www.weblab.deusto.es/pub/dissertation_pablo.pdf"><i>Transitive and scalable federation model for remote laboratories</i></a></td>
                <td>English</td>
                <td>May 31st, 2013</td>
                <td><a href="awards.html">Javier Garc&iacute;a Zubia</a></td>
                <td><a href="http://paginaspersonales.deusto.es/porduna/phd/">web</a><br/><a href="http://www.weblab.deusto.es/pub/slides/dissertation_pablo/">slides</a></td>
            </tr>
            <tr>
                <td><a href="awards.html">Unai Hern&aacute;ndez</a></td>
                <td>PhD dissertation</td>
                <td width="30%"><a href="http://www.weblab.deusto.es/pub/dissertation_unai.pdf"><i>Metodolog&iacute;a de control independiente de instrumentos y experimentos para su despliegue en laboratorios remotos</i></a></td>
                <td>Spanish</td>
                <td>May 8th, 2012</td>
                <td><a href="awards.html">Javier Garc&iacute;a Zubia</a></td>
                <td>N/A</td>
            </tr>
            <tr>
                <td><a href="awards.html">Jaime Irurzun</a></td>
                <td>Computer Engineering <b>***</b></td>
                <td width="30%"><a href="http://www.weblab.deusto.es/pub/pfc_jaime.pdf"><i>Integraci&oacute;n de un microbot en  Second Life bajo una arquitectura  distribuida de laboratorios remotos</i></a></td>
                <td>Spanish</td>
                <td>September 18th, 2009</td>
                <td><a href="awards.html">Javier Garc&iacute;a Zubia</a></td>
                <td><a href="http://www.weblab.deusto.es/pub/pfc_jaime_slides.pdf">slides</a><br/><a href="http://www.youtube.com/watch?v=gRIWD2HOlvQ">video</a></td>
            </tr>
            <tr>
                <td><a href="awards.html">Pablo Ordu&ntilde;a</a></td>
                <td>Computer Engineering <b>***</b></td>
                <td width="30%"><a href="http://www.weblab.deusto.es/pub/pfc_pablo.pdf"><i>WebLab-Deusto: implementaci&oacute;n de un laboratorio remoto distribuido basado en Web 2.0</i></a></td>
                <td>Spanish</td>
                <td>June 11th, 2007</td>
                <td><a href="awards.html">Javier Garc&iacute;a Zubia</a></td>
                <td><a href="http://www.weblab.deusto.es/pub/pfc_pablo_slides.pdf">slides</a></td>
            </tr>

        </tbody>
    </table>
    <div class="col-lg-8 col-lg-push-4">
        <ul>
            <li><b>*</b> Grades are 4-year degrees in the University of Deusto after the <a href="http://en.wikipedia.org/wiki/Bologna_process">Bologna process</a>.</li>
            <li><b>**</b> Computer Engineering and Engineering in Industrial Organization is a 6-year <a href="http://en.wikipedia.org/wiki/Double_degree">double degree</a>.</b></li>
            <li><b>***</b> Computer Engineering used to be a 5-year degree in the University of Deusto prior to the <a href="http://en.wikipedia.org/wiki/Bologna_process">Bologna process</a>.</li>
        </ul>
    </div>
</div>

{% endblock %}
