{% set link="other_projects" %}
{% set title="SecondLab" %}
{% extends "_base.html" %}
{% block body %}

<div class="container">
    
    <div class="page-header">
        <h1>SecondLab</h1>
    </div>

    <div class="row">
        <div class="col-lg-8">
            <p>
            SecondLab was the <a href="projects_and_dissertation.html">End of Degree project</a> developed by <a href="members.html">Jaime Irurzun</a>. The project consisted in a proof of concept of the integration of the WebLab-Deusto Remote Laboratory in <a href="http://secondlife.com">Second Life</a>. It was recipient of two awards listed in the <a href="awards.html">awards section</a>, and the results can be seen in the following video:
            </p>

            <p style="text-align: center;">
            <object width="500" height="418">
            <param name="movie" value="http://www.youtube.com/v/gRIWD2HOlvQ&amp;hl=es&amp;fs=1&amp;">
            <param name="allowFullScreen" value="true">
            <param name="allowscriptaccess" value="always"><embed type="application/x-shockwave-flash" width="500" height="418" src="http://www.youtube.com/v/gRIWD2HOlvQ&amp;hl=es&amp;fs=1&amp;" allowfullscreen="true" allowscriptaccess="always">
            </object>
            </p>

        </div>

    </div>

</div>

{% endblock %}
