{% set link="project" %}
{% set title="Software" %}
{% extends "_base.html" %}

{% block header %}
    <style>
        .feature-img {
            height: 100px;
            /* width : 30%; */
        }
    </style>
{% endblock %}

{% block body %}

<div class="container">

    <div class="page-header text-center">
        <h1>Software</h1>
    </div>

    <div class="row">
        <div class="col-lg-4 col-lg-push-1 text-center">
            <h2><span class="glyphicon glyphicon-fullscreen" style="box-sizing: content-box; font-size: 25px"></span> Extensible</h2>

            <p>WebLab-Deusto is designed to ease the development of remote laboratories. It provides APIs and different approaches to include new or exisiting remote labs. Every remote lab developed with WebLab-Deusto will benefit from the features detailed below, as well as by those features implemented in the future.</p>
        </div>

        <div class="col-lg-4 col-lg-push-2 text-center">
            <h2><span class="glyphicon glyphicon-list-alt" style="box-sizing: content-box; font-size: 25px"></span> Documentation</h2>

            <p>Instructions on how to <a href="http://weblabdeusto.readthedocs.org/en/latest/#users">install and customize the system</a> and how to <a href="http://weblabdeusto.readthedocs.org/en/latest/#remote-laboratory-development-and-management">create new labs</a> is available in our documentation website:</p>

            <a href="http://weblabdeusto.readthedocs.org/">http://weblabdeusto.readthedocs.org/</a>
        </div>
    </div>

    <div class="page-header text-center">
    </div>

    <div class="row vmargin-20">

        <div class="col-lg-4 text-center">
            <img class="feature-img" src="assets/img/features/share.png"/>
            <h2>Sharing</h2>
            <p>WebLab-Deusto enables you <a href="http://weblabdeusto.readthedocs.org/en/latest/federation.html">to share your labs with other institutions</a>, as well as consume labs deployed in other institutions. So as to do this, the provider WebLab-Deusto system enables the consumer to access certain labs with certain privileges (e.g., maximum slot time or priority).</p>
        </div>

        <div class="col-lg-4 text-center">
            <img class="feature-img" src="assets/img/features/user_tracking.png"/>
            <h2>User tracking</h2>
            <p>WebLab-Deusto stores what students did in the laboratory (who accessed to which lab, when, what activities were done) to enable analytics.</p>
        </div>

        <div class="col-lg-4 text-center">
            <img class="feature-img" src="assets/img/features/administration.png"/>
            <h2>Administration</h2>
            <p>WebLab-Deusto provides web administration tools so administrators can manage users, labs or permissions, and track the usage performed by students.</p>
        </div>

    </div>

    <div class="row vmargin-20">

        <div class="col-lg-4 text-center">
            <img class="feature-img" src="assets/img/features/lmss.png"/>
            <h2>LMS integration</h2>
            <p>WebLab-Deusto laboratories can be accessed from Learning Management Systems (LMSs, such as Moodle or Sakai) in a secure way, relying on the LMS for authentication and authorization (e.g., who is in the course). See more information in the <a href="http://gateway4labs.readthedocs.org/">gateway4labs initiative</a>.</p>
        </div>

        <div class="col-lg-4 text-center">
            <img class="feature-img" src="assets/img/features/queues.jpg"/>
            <h2>Scheduling</h2>
            <p>WebLab-Deusto guarantees exclusive access to the laboratories through a priority queue subsystem. It can be customized to support multiple concurrent (optionally collaborative) users to a single laboratory.</p>
        </div>

        <div class="col-lg-4 text-center">
            <img class="feature-img" src="assets/img/features/mobile.png"/>
            <h2>Mobile devices</h2>
            <p>APIs are provided so lab developers can create alternative user interfaces for mobile devices. Try for instance <a href="labs.html">the logic lab</a>.</p>
        </div>

    </div>

    <div class="row vmargin-20">

        <div class="col-lg-4 text-center">
            <img class="feature-img" src="assets/img/features/authn.png"/>
            <h2>Authentication</h2>
            <p>Users can be <a href="http://weblabdeusto.readthedocs.org/en/latest/authentication.html">authenticated validating their credentials</a> with a password securely stored in the database. However, WebLab-Deusto also supports LDAP (a directory protocol popular in universities), OAuth 2.0 (e.g., Facebook) or OpenID. Furthermore, it is extensible, so developers can adapt it for other institutions.</p>
        </div>

        <div class="col-lg-4 text-center">
            <img class="feature-img" src="assets/img/features/interoperability.png"/>
            <h2>Interoperability</h2>
            <p>WebLab-Deusto provides programmable external interfaces and internal plug-in systems. This makes it possible to integrate WebLab-Deusto labs in third party systems or to embed external labs in WebLab-Deusto. For instance, there are bidirectional bridges <a href="http://www.sciencedirect.com/science/article/pii/S0747563213001416">with the iLab Shared Architecture</a> or <a href="http://dx.doi.org/10.1109/EduCon.2013.6530259">with the UNR (Universidad Nacional de Rosario, Argentina) FCEIA Physics lab</a>.</p>
        </div>

        <div class="col-lg-4 text-center">
            <img class="feature-img" src="assets/img/features/cross_platform.jpg"/>
            <h2>Cross platform</h2>
            <p>WebLab-Deusto is supported for <a href="http://weblabdeusto.readthedocs.org/en/latest/installation.html">GNU/Linux, Mac OS X and Microsoft Windows systems</a>. It additionally should run on other operating systems, such as BSD.</p>
        </div>

    </div>

    <div class="row vmargin-20">

        <div class="col-lg-4 text-center">
            <img class="feature-img" src="assets/img/features/scalable.png"/>
            <h2>Scalability</h2>
            <p>WebLab-Deusto scales up in three dimensions. First, it can <a href="http://weblabdeusto.readthedocs.org/en/latest/performance.html">scale up the number of students in a single institution</a> by adding more servers and balancing the load of users among them. Second, it can <a href="http://weblabdeusto.readthedocs.org/en/latest/federation.html">scale up the number of students</a> by accessing to different copies of the laboratory in different federated institutions. Third, it scales in the number of laboratories supported in a local deployment.</p>
        </div>

        <div class="col-lg-4 text-center">
            <img class="feature-img" src="assets/img/features/opensource.jpg"/>
            <h2>Open Source</h2>
            <p>WebLab-Deusto is <a href="https://github.com/weblabdeusto/weblabdeusto/blob/master/COPYING">Open Source</a> and it requires exclusively Open Source technologies. It also supports proprietary technologies for optional extensions.</p>
        </div>

        <div class="col-lg-4 text-center">
            <img class="feature-img" src="assets/img/features/rpi.jpg"/>
            <h2>Lightweight</h2>
            <p>WebLab-Deusto supports common scale deployments (e.g., MySQL, Redis and Apache in multiple servers). However, it also supports running the whole system in lightweight, low cost devices <a href="http://weblabdeusto.readthedocs.org/en/latest/performance.html#raspberry-pi-and-low-cost-devices">(such as Raspberry Pi)</a>.</p>
        </div>

    </div>
</div>

{% endblock %}
